@*@model IEnumerable<Practica5.Models.AsignaturaEstudiante>*@
@model List<Practica5.Models.Estudiantes>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            nombre
        </th>
        <th>
           Materias

        </th>
        <th></th>
    </tr>



@foreach (var a in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.)*@
            @a.nombre
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Estudiantes.AsignaturaEstudiante)*@
            @a.materias
        </td>
        
    </tr>
}

</table>
