@model List<Practica5.Models.Estudiantes>
@{
    ViewBag.Title = "Home Page";
}
<br />  
<table>       
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Carrera</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
        <tr>
            <td>@a.nombre  </td>
            <td>@a.materias </td>
        </tr>
        }
    </tbody>
</table>